.footer {
  color: #919191;
}

.toFade {
  color: #919191;
}

.slogan {
  display: inline-block;
  margin-left: 100px;
  color: #777777;
}

.categoryList ul {
  list-style-type: none;
}

.important {
  font-weight: bold;
  color: #474747;
}

.horizontal-table tbody tr td:first-child {
  font-weight: bold;
  color: #474747;
}

.loadingScreen {
  height: 300px;
}